# Machine Learning Model Framework - K-Means Clustering

In [2]:
from sklearn.cluster import KMeans
import pandas as pd

In [3]:
data = pd.read_csv('filter-reforest.csv')
data.head()

#example file. : {county, state, country, land_cost, etc}

,State,Abbreviation,County,Population,Temperature,Precipitation,Palmer-Z,Land-Prices,temp-class,pop-class,preci-class,palm-class,land-class
0,Georgia,GA,Appling,18428,68.0,52.38,0.15,3494.0,5,5,1,6,3
1,Georgia,GA,Atkinson,8183,67.6,50.33,0.04,2839.0,5,7,3,5,2
2,Georgia,GA,Bacon,11191,68.2,51.25,0.06,3547.0,5,6,1,5,3
3,Georgia,GA,Baker,2788,68.6,45.67,-0.43,3303.0,5,7,5,3,2
4,Georgia,GA,Baldwin,43635,65.4,49.83,0.33,0.0,5,3,3,7,2