In [27]:
import pandas as pd
import numpy as np

In [28]:
reforestation = pd.read_csv('reforestation_new.csv')
means = reforestation.groupby('State')['Land-Prices'].transform('mean')
reforestation.loc[reforestation['Land-Prices'].isna(), 'Land-Prices'] = means[reforestation['Land-Prices'].isna()]
reforestation.head()

,State,Abbreviation,County,Population,Temperature,Precipitation,Palmer-Z,Land-Prices,Population_Class,Temperature_Class,Precipitation_Class,Palmer-Z_Class,Land-Prices_Class,percentile_rank,Final_Class
0,Alabama,AL,Autauga,59759,66.1,51.89,-0.26,NaN,2,5,3,5,0,0.0,0
1,Alabama,AL,Baldwin,246435,70.1,50.71,-0.84,NaN,1,5,3,2,0,0.0,0
2,Alabama,AL,Barbour,24706,66.4,48.95,-0.22,NaN,4,5,3,5,0,0.0,0
3,Alabama,AL,Bibb,22005,64.4,53.22,-0.29,NaN,4,6,1,5,0,0.0,0
4,Alabama,AL,Blount,59512,62.5,60.68,0.24,NaN,2,6,1,7,0,0.0,0

In [29]:
reforestation.to_csv('reforestation_new.csv',index=False)

In [30]:
land = pd.read_csv('land-prices-state-avg.csv')
land.head()

           State      Avg
0    Connecticut  13700.0
1       Delaware   9800.0
2          Maine   2860.0
3       Maryland   9700.0
4  Massachusetts  15200.0

In [31]:
land['State'] = land['State'].str.replace(r"[^a-zA-Z\s]", '', regex=True).str.strip()
land['Avg'] = land['Avg'].astype(str).str.replace(',', '')
land['Avg'] = land['Avg'].astype(float)
land.to_csv('land-prices-state-avg.csv', index=False)

In [32]:
state_to_avg = pd.Series(land.Avg.values,index=land.State).to_dict()

reforestation['Land-Prices'] = reforestation.apply(
    lambda row: state_to_avg.get(row['State'], pd.NA) if pd.isna(row['Land-Prices']) else row['Land-Prices'],
    axis=1
)
reforestation.head()

,State,Abbreviation,County,Population,Temperature,Precipitation,Palmer-Z,Land-Prices,Population_Class,Temperature_Class,Precipitation_Class,Palmer-Z_Class,Land-Prices_Class,percentile_rank,Final_Class
0,Alabama,AL,Autauga,59759,66.1,51.89,-0.26,3400.0,2,5,3,5,0,0.0,0
1,Alabama,AL,Baldwin,246435,70.1,50.71,-0.84,3400.0,1,5,3,2,0,0.0,0
2,Alabama,AL,Barbour,24706,66.4,48.95,-0.22,3400.0,4,5,3,5,0,0.0,0
3,Alabama,AL,Bibb,22005,64.4,53.22,-0.29,3400.0,4,6,1,5,0,0.0,0
4,Alabama,AL,Blount,59512,62.5,60.68,0.24,3400.0,2,6,1,7,0,0.0,0

In [33]:
reforestation.to_csv('reforestation_new.csv',index=False)