In [16]:
import pandas as pd
import numpy as np

In [17]:
init_kelp = pd.read_csv('kelpfarmsdata.csv',encoding='latin1')
init_kelp.head()

,latitude,longitude,ocean depth (m),depth of sample (m),temperature of ocean (C),dissolved oxygen (µmol kg-1),apparent oxygen utilization (µmol kg-1),temperature of pH measurement (C),pH
0,56.509,-170.8147,122,113.9,2.199,316.01,2,-999,7.9743
1,56.509,-170.8147,122,100.1,2.098,319.32,2,-999,7.9977
2,56.509,-170.8147,122,59.4,1.637,334.65,2,-999,8.0398
3,56.509,-170.8147,122,41.6,0.763,342.38,2,-999,8.0659
4,56.509,-170.8147,122,30.7,-0.318,359.24,2,-999,8.0661

In [18]:
init_kelp.columns

Index(['latitude', 'longitude', 'ocean depth (m)', 'depth of sample (m)',
       'temperature of ocean (C)', 'dissolved oxygen (µmol kg-1)',
       'apparent oxygen utilization (µmol kg-1)',
       'temperature of pH measurement (C)', 'pH'],
      dtype='object')

In [19]:
dropped = init_kelp.drop(['temperature of pH measurement (C)','depth of sample (m)','apparent oxygen utilization (µmol kg-1)'],axis =1)
dropped.head()

,latitude,longitude,ocean depth (m),temperature of ocean (C),dissolved oxygen (µmol kg-1),pH
0,56.509,-170.8147,122,2.199,316.01,7.9743
1,56.509,-170.8147,122,2.098,319.32,7.9977
2,56.509,-170.8147,122,1.637,334.65,8.0398
3,56.509,-170.8147,122,0.763,342.38,8.0659
4,56.509,-170.8147,122,-0.318,359.24,8.0661

In [20]:
dropped.shape[0]

17716

In [21]:
mask = (dropped == -999).any(axis=1)
neg_999 = dropped[mask]
n = neg_999.shape[0]
print(n)

5262

In [24]:
dropped.replace(-999, np.nan, inplace=True)

In [25]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=5)
imputed_data = imputer.fit_transform(dropped)
imputed_df = pd.DataFrame(imputed_data, columns=dropped.columns)

In [26]:
mask = (imputed_df == -999).any(axis=1)
neg_999 = imputed_df[mask]
n = neg_999.shape[0]
print(n)

0

In [28]:
new_column_names = {
    'ocean depth (m)': 'depth',
    'temperature of ocean (C)' : 'temperature',
     'dissolved oxygen (µmol kg-1)': 'oxygen'
}
 
# Rename the columns
imputed_df.rename(columns=new_column_names, inplace=True)

In [29]:
imputed_df.head()

   latitude  longitude  depth  temperature  oxygen      pH
0    56.509  -170.8147  122.0        2.199  316.01  7.9743
1    56.509  -170.8147  122.0        2.098  319.32  7.9977
2    56.509  -170.8147  122.0        1.637  334.65  8.0398
3    56.509  -170.8147  122.0        0.763  342.38  8.0659
4    56.509  -170.8147  122.0       -0.318  359.24  8.0661

In [30]:
imputed_df.to_csv('kelp.csv', encoding='utf-8', index=False)