In [7]:
import pandas as pd

In [8]:
def assign_classes(df, column_name, output_col, labels):
    col_sorted = df[column_name].sort_values().reset_index(drop=True)
    quantiles = [-float('inf')]

    n = 7 
    for i in range(1, n):
        q = col_sorted.quantile(i / n)
        quantiles.append(q)
    quantiles.append(float('inf'))

    df[output_col] = pd.cut(df[column_name], bins=quantiles, labels=labels, right=False, duplicates='drop')
    return df


def update_csv(in_filename, out_filename, columns, class_columns, labels): 
    df = pd.read_csv(in_filename)
    for i in range(len(columns)):
        name = columns[i]
        class_column = class_columns[i]
        label = labels[i]
        df = assign_classes(df, name, class_column, label)
    print(df.head())
    df.to_csv(out_filename, index=False)

In [9]:
kelp = pd.read_csv('kelp.csv') 
kelp.head()

   latitude  longitude  depth  temperature  oxygen      pH
0    56.509  -170.8147  122.0        2.199  316.01  7.9743
1    56.509  -170.8147  122.0        2.098  319.32  7.9977
2    56.509  -170.8147  122.0        1.637  334.65  8.0398
3    56.509  -170.8147  122.0        0.763  342.38  8.0659
4    56.509  -170.8147  122.0       -0.318  359.24  8.0661

In [60]:
# cols = ['depth','temperature','oxygen','pH']
# class_columns = [col + '_Class' for col in cols]
# labels = [[7,6,5,4,3,2,1],[2,5,7,6,4,3,1],[7,6,5,4,3,2,1],[7,6,5,4,3,2,1],[7,6,5,4,3,2,1],[7,6,5,4,3,2,1]]
# update_csv('dac.csv','dac_class.csv',cols,class_columns,labels)

     State Abbreviation   County  Population  Temperature  Precipitation  \
0  Alabama           AL  Autauga       59759         66.1          51.89
1  Alabama           AL  Baldwin      246435         70.1          50.71
2  Alabama           AL  Barbour       24706         66.4          48.95
3  Alabama           AL     Bibb       22005         64.4          53.22
4  Alabama           AL   Blount       59512         62.5          60.68

    Elevation  Electricity-Prices     Wage Population_Class Temperature_Class  \
0  111.111422               14.21  48347.0                2                 1
1   36.783019               14.21  54659.0                1                 1
2  114.048849               14.21  40428.0                4                 1
3  125.742119               14.21  36892.0                4                 3
4  240.213488               14.21  42634.0                2                 3

  Precipitation_Class Elevation_Class Electricity-Prices_Class Wage_Class
0                   2               6                        1          5
1                   2               7                        1          3
2                   2               6                        1          7
3                   1               6                        1          7
4                   1               5                        1          6

In [11]:
def calculate_quantiles(df, column_name, n=7):
    col_sorted = df[column_name].sort_values().reset_index(drop=True)
    quantiles = [-float('inf')]
    
    for i in range(1, n):
        q = col_sorted.quantile(i / n)
        quantiles.append(q)
    
    quantiles.append(float('inf'))

    return quantiles

In [12]:
depth_q = calculate_quantiles (kelp,'depth')
print(depth_q)

[-inf, 69.2, 122.0, 264.0, 584.2, 1115.0, 2292.0, inf]

In [13]:
temp_q = calculate_quantiles(kelp, 'temperature')
print(temp_q)

[-inf, 2.690714285714286, 6.1574285714285715, 8.088, 9.804857142857143, 12.604571428571429, 18.42285714285714, inf]

In [14]:
oxy_q = calculate_quantiles(kelp, 'oxygen')
print(oxy_q)

[-inf, 101.47714285714287, 147.7, 194.6, 224.0, 260.6057142857143, 297.8, inf]

In [15]:
ph_q = calculate_quantiles(kelp, 'pH')
print(ph_q)

[-inf, 7.6772, 7.858542857142857, 7.9531, 8.0058, 8.0416, 8.0879, inf]