In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from math import ceil

In [4]:
data = pd.read_csv('kelp_class.csv')
data.head()

,latitude,longitude,Depth,Temperature,pH,Depth_Class,Temperature_Class,pH_Class
0,56.509,-170.8147,122.0,2.199,7.9743,5,3,3
1,56.509,-170.8147,122.0,2.098,7.9977,5,3,4
2,56.509,-170.8147,122.0,1.637,8.0398,5,3,5
3,56.509,-170.8147,122.0,0.763,8.0659,5,2,6
4,56.509,-170.8147,122.0,-0.318,8.0661,5,2,6

In [6]:
avg_scores = data[['depth_Class','temperature_Class','pH_Class']].mean(axis=1)

data['percentile_rank'] = avg_scores.rank(pct=True).round(2)

data['Final_Class'] = data['percentile_rank'].apply(lambda x: ceil(x * 7))

data.head()

,latitude,longitude,Depth,Temperature,pH,Depth_Class,Temperature_Class,pH_Class,percentile_rank,Final_Class
0,56.509,-170.8147,122.0,2.199,7.9743,5,3,3,0.39,3
1,56.509,-170.8147,122.0,2.098,7.9977,5,3,4,0.50,4
2,56.509,-170.8147,122.0,1.637,8.0398,5,3,5,0.61,5
3,56.509,-170.8147,122.0,0.763,8.0659,5,2,6,0.61,5
4,56.509,-170.8147,122.0,-0.318,8.0661,5,2,6,0.61,5

Accuracy: 1.0