In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from math import ceil

In [5]:
data = pd.read_csv('dac_class.csv')
data.head()

,State,Abbreviation,County,Population,Temperature,Precipitation,Elevation,Electricity-Prices,Wage,Population_Class,Temperature_Class,Precipitation_Class,Elevation_Class,Electricity-Prices_Class,Wage_Class
0,Alabama,AL,Autauga,59759,66.1,51.89,111.111422,14.21,48347.0,2,1,2,6,1,5
1,Alabama,AL,Baldwin,246435,70.1,50.71,36.783019,14.21,54659.0,1,1,2,7,1,3
2,Alabama,AL,Barbour,24706,66.4,48.95,114.048849,14.21,40428.0,4,1,2,6,1,7
3,Alabama,AL,Bibb,22005,64.4,53.22,125.742119,14.21,36892.0,4,3,1,6,1,7
4,Alabama,AL,Blount,59512,62.5,60.68,240.213488,14.21,42634.0,2,3,1,5,1,6

In [6]:
avg_scores = data[['Population_Class','Temperature_Class','Precipitation_Class', 'Elevation_Class','Electricity-Prices_Class','Wage_Class']].mean(axis=1)

data['percentile_rank'] = avg_scores.rank(pct=True).round(2)

data['Final_Class'] = data['percentile_rank'].apply(lambda x: ceil(x * 7))

data.head()

,State,Abbreviation,County,Population,Temperature,Precipitation,Elevation,Electricity-Prices,Wage,Population_Class,Temperature_Class,Precipitation_Class,Elevation_Class,Electricity-Prices_Class,Wage_Class,percentile_rank,Final_Class
0,Alabama,AL,Autauga,59759,66.1,51.89,111.111422,14.21,48347.0,2,1,2,6,1,5,0.06,1
1,Alabama,AL,Baldwin,246435,70.1,50.71,36.783019,14.21,54659.0,1,1,2,7,1,3,0.03,1
2,Alabama,AL,Barbour,24706,66.4,48.95,114.048849,14.21,40428.0,4,1,2,6,1,7,0.25,2
3,Alabama,AL,Bibb,22005,64.4,53.22,125.742119,14.21,36892.0,4,3,1,6,1,7,0.31,3
4,Alabama,AL,Blount,59512,62.5,60.68,240.213488,14.21,42634.0,2,3,1,5,1,6,0.09,1

In [9]:
data.to_csv('dac_class.csv',index=False)

In [10]:
features = ['Population_Class','Temperature_Class','Precipitation_Class', 'Elevation_Class','Electricity-Prices_Class','Wage_Class']
X = data[features]
y = data['Final_Class']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

clf_svm = SVC(kernel='linear', C=0.1)  

clf_svm.fit(X_train_scaled, y_train)

y_pred = clf_svm.predict(X_test_scaled)

print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.9632