# Machine Learning Model Framework - K-Means Clustering

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from math import ceil

In [4]:
data = pd.read_csv('filter-reforest.csv')
data.head()

#example file. : {county, state, country, land_cost, etc}

,State,Abbreviation,County,Population,Temperature,Precipitation,Palmer-Z,Land-Prices,Population_Class,Temperature_Class,Precipitation_Class,Palmer-Z_Class,Land-Prices_Class,percentile_rank,Final_Class
0,Georgia,GA,Appling,18428,68.0,52.38,0.15,3494.0,5,5,1,7,6,0.79,6
1,Georgia,GA,Atkinson,8183,67.6,50.33,0.04,2839.0,7,5,3,6,7,0.95,7
2,Georgia,GA,Bacon,11191,68.2,51.25,0.06,3547.0,6,5,1,6,6,0.79,6
3,Georgia,GA,Baker,2788,68.6,45.67,-0.43,3303.0,7,5,5,3,6,0.89,7
4,Georgia,GA,Baldwin,43635,65.4,49.83,0.33,0.0,3,5,3,4,7,0.63,5

In [5]:
avg_scores = data[['Population_Class','Temperature_Class','Precipitation_Class', 'Palmer-Z_Class','Land-Prices_Class']].mean(axis=1)

data['percentile_rank'] = avg_scores.rank(pct=True).round(2)

data['Final_Class'] = data['percentile_rank'].apply(lambda x: ceil(x * 7))

data.head()

,State,Abbreviation,County,Population,Temperature,Precipitation,Palmer-Z,Land-Prices,Population_Class,Temperature_Class,Precipitation_Class,Palmer-Z_Class,Land-Prices_Class,percentile_rank,Final_Class
0,Georgia,GA,Appling,18428,68.0,52.38,0.15,3494.0,5,5,1,7,6,0.79,6
1,Georgia,GA,Atkinson,8183,67.6,50.33,0.04,2839.0,7,5,3,6,7,0.95,7
2,Georgia,GA,Bacon,11191,68.2,51.25,0.06,3547.0,6,5,1,6,6,0.79,6
3,Georgia,GA,Baker,2788,68.6,45.67,-0.43,3303.0,7,5,5,3,6,0.89,7
4,Georgia,GA,Baldwin,43635,65.4,49.83,0.33,0.0,3,5,3,4,7,0.63,5

In [6]:
features = ['Population_Class', 'Temperature_Class', 'Precipitation_Class', 'Palmer-Z_Class', 'Land-Prices_Class']
X = data[features]
y = data['Final_Class']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

clf_svm = SVC(kernel='linear', C=0.1)  

clf_svm.fit(X_train_scaled, y_train)

y_pred = clf_svm.predict(X_test_scaled)

print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.935

In [7]:
clf_random = RandomForestClassifier(n_estimators=100, random_state=42)

clf_random.fit(X_train, y_train)

y_pred = clf_random.predict(X_test)

print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.74

In [47]:
data.to_csv('filter-reforest.csv', index=False)