In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
reforestation = pd.read_csv('reforestation_new.csv')
reforestation.head()

,State,Abbreviation,County,Population,Temperature,Precipitation,Palmer-Z,Land-Prices,Population_Class,Temperature_Class,Precipitation_Class,Palmer-Z_Class,Land-Prices_Class,percentile_rank,Final_Class
0,Alabama,AL,Autauga,59759,66.1,51.89,-0.26,3400.0,2,5,3,5,0,0.0,0
1,Alabama,AL,Baldwin,246435,70.1,50.71,-0.84,3400.0,1,5,3,2,0,0.0,0
2,Alabama,AL,Barbour,24706,66.4,48.95,-0.22,3400.0,4,5,3,5,0,0.0,0
3,Alabama,AL,Bibb,22005,64.4,53.22,-0.29,3400.0,4,6,1,5,0,0.0,0
4,Alabama,AL,Blount,59512,62.5,60.68,0.24,3400.0,2,6,1,7,0,0.0,0

In [13]:
reforestation = reforestation.dropna()
reforestation['Land-Prices'].isna().sum()

0

In [14]:
# plt.figure(figsize=(10, 6))
# plt.hist(pop_sorted, bins=50, edgecolor='black')
# for i, q in enumerate(quantiles):
#     plt.axvline(x=q, color='red', label=f'{i+1}: {q:.2f}')
# 
# plt.xlabel("Population")
# plt.ylabel("Frequency")
# plt.title("Distribution of Population Data with Boundaries")
# plt.legend()
# plt.show()

In [15]:
import pandas as pd

def assign_classes(df, column_name, output_col, labels):
    col_sorted = df[column_name].sort_values().reset_index(drop=True)
    quantiles = []

    n = 7
    quantiles.append(-float('inf'))
        
    for i in range(1, n):
        q = col_sorted.quantile(i/n)
        quantiles.append(q)
    quantiles.append(float('inf'))

    df[output_col] = pd.cut(df[column_name], bins=quantiles, labels=labels, right=False)
    return df

def update_csv(in_filename,out_filename,columns,class_columns,labels): 
    reforestation = pd.read_csv(in_filename)
    for i in range(len(columns)):
        name = columns[i]
        class_column =class_columns[i]
        label=labels[i]
        reforestation = assign_classes(reforestation,name,class_column,label)
    print(reforestation.head())
    reforestation.to_csv(out_filename, index=False)

In [17]:
filter_csv_columns = ['Population','Temperature','Precipitation','Palmer-Z','Land-Prices']
class_columns = [col + '_Class' for col in filter_csv_columns]
labels1 = [[7,6,5,4,3,2,1],[1, 2, 3, 4, 7, 6, 5],[2, 4, 6, 7, 5, 3, 1],[1,2,3,5,6,7,4],[7,6,5,4,3,2,1]]

update_csv('filter-reforest.csv','filter-reforest.csv',filter_csv_columns,class_columns,labels1)

     State Abbreviation    County  Population  Temperature  Precipitation  \
0  Georgia           GA   Appling       18428         68.0          52.38
1  Georgia           GA  Atkinson        8183         67.6          50.33
2  Georgia           GA     Bacon       11191         68.2          51.25
3  Georgia           GA     Baker        2788         68.6          45.67
4  Georgia           GA   Baldwin       43635         65.4          49.83

   Palmer-Z  Land-Prices Population_Class Temperature_Class  \
0      0.15       3494.0                5                 5
1      0.04       2839.0                7                 5
2      0.06       3547.0                6                 5
3     -0.43       3303.0                7                 5
4      0.33          0.0                3                 5

  Precipitation_Class Palmer-Z_Class Land-Prices_Class  percentile_rank  \
0                   1              7                 5             0.79
1                   3              6                 6             0.95
2                   1              6                 5             0.79
3                   5              3                 6             0.89
4                   3              4                 6             0.63

   Final_Class
0            6
1            7
2            6
3            7
4            5

In [18]:
ref = pd.read_csv('reforestationDB.csv')
ref = ref[ref['State'] != 'Alaska']
ref.to_csv('feature_classes.csv', index=False)

In [19]:
feature_columns = ['Population','Temperature','Precipitation','Palmer-Z']
class_columns = [col + '_Class' for col in feature_columns]
labels2 = [[7,6,5,4,3,2,1],[1, 2, 3, 4, 7, 6, 5],[2, 4, 6, 7, 5, 3, 1],[1,2,3,5,6,7,4]]
update_csv('feature_classes.csv','feature_classes.csv',feature_columns,class_columns,labels2)

     State Abbreviation   County  Population  Temperature  Precipitation  \
0  Alabama           AL  Autauga       59759         66.1          51.89
1  Alabama           AL  Baldwin      246435         70.1          50.71
2  Alabama           AL  Barbour       24706         66.4          48.95
3  Alabama           AL     Bibb       22005         64.4          53.22
4  Alabama           AL   Blount       59512         62.5          60.68

   Palmer-Z  Land-Prices Population_Class Temperature_Class  \
0     -0.26          0.0                2                 5
1     -0.84          0.0                1                 5
2     -0.22          0.0                4                 5
3     -0.29          0.0                4                 6
4      0.24          0.0                2                 6

  Precipitation_Class Palmer-Z_Class
0                   3              5
1                   3              2
2                   3              5
3                   1              5
4                   1              7

In [20]:
labels1 == labels2

False

In [22]:
cols = ['Population','Temperature','Precipitation','Palmer-Z','Land-Prices']
class_columns = [col + '_Class' for col in filter_csv_columns]
labels = [[7,6,5,4,3,2,1],[1, 2, 3, 4, 7, 6, 5],[2, 4, 6, 7, 5, 3, 1],[1,2,3,5,6,7,4],[7,6,5,4,3,2,1]]

update_csv('reforestation_new.csv','reforestation_class.csv',cols,class_columns,labels)

     State Abbreviation   County  Population  Temperature  Precipitation  \
0  Alabama           AL  Autauga       59759         66.1          51.89
1  Alabama           AL  Baldwin      246435         70.1          50.71
2  Alabama           AL  Barbour       24706         66.4          48.95
3  Alabama           AL     Bibb       22005         64.4          53.22
4  Alabama           AL   Blount       59512         62.5          60.68

   Palmer-Z  Land-Prices Population_Class Temperature_Class  \
0     -0.26       3400.0                2                 5
1     -0.84       3400.0                1                 5
2     -0.22       3400.0                4                 5
3     -0.29       3400.0                4                 6
4      0.24       3400.0                2                 6

  Precipitation_Class Palmer-Z_Class Land-Prices_Class  percentile_rank  \
0                   3              5                 5              0.0
1                   3              2                 5              0.0
2                   3              5                 5              0.0
3                   1              5                 5              0.0
4                   1              7                 5              0.0

   Final_Class
0            0
1            0
2            0
3            0
4            0